<html>
  <link rel="stylesheet" href="/css/success.css">
  <body>
    <div class='card'>
      <div
        style='border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;'
      >
        <i class='checkmark'>✓</i>
      </div>
      <h1>{{t 'order.successTitle'}}</h1>
      <p>{{t 'order.successMessage'}}<br /> {{t 'order.successTouch'}}</p>
    </div>
  </body>
</html>
